@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html {
  height: initial; }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  padding-top: 110px; }

.navbar {
  min-height: 113px;
  padding: 8px 100px; }

.navbar-light {
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

.nav-link {
  font-family: "Roboto Medium";
  text-transform: uppercase;
  color: #333 !important;
  padding: 0 1rem !important; }

.navbar-light .navbar-toggler {
  border: 0;
  cursor: pointer;
  color: #333; }

.navbar-light .navbar-toggler:focus {
  outline: none; }

.section-a, .section-b, .section-c {
  margin-top: 3em; }

.section-c {
  background: #cfcece; }

.section-c .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0; }

.section-c .flex p {
  margin: 0;
  width: 90%; }

.section-d {
  background: #252525; }

.home-icon {
  width: 100px;
  height: 100px;
  background: #26a822;
  color: #fff;
  text-align: center;
  margin: 1em auto;
  border-radius: 50%;
  -webkit-box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: default; }

.home-icon .material-icons {
  font-size: 3em;
  margin: .6em 0;
  text-shadow: 0 0 #056dc7, 1px 1px #056dc7, 2px 2px #056dc7, 3px 3px #056dc7, 4px 4px #056dc7, 5px 5px #056dc7, 6px 6px #056dc7, 7px 7px #056dc7, 8px 8px #056dc7, 9px 9px #056dc7, 10px 10px #056dc7, 11px 11px #056dc7, 12px 12px #056dc7, 13px 13px #056dc7, 14px 14px #056dc7, 15px 15px #056dc7, 16px 16px #056dc7, 17px 17px #056dc7, 18px 18px #056dc7, 19px 19px #056dc7, 20px 20px #056dc7, 21px 21px #056dc7, 22px 22px #056dc7, 23px 23px #056dc7, 24px 24px #056dc7, 25px 25px #056dc7, 26px 26px #056dc7, 27px 27px #056dc7, 28px 28px #056dc7, 29px 29px #056dc7, 30px 30px #056dc7; }

.home-header {
  text-transform: uppercase;
  font-weight: normal; }

.home-col-header {
  text-transform: uppercase;
  font-size: 18px;
  margin: 2em 0; }

.home-col-text {
  font-family: "Roboto Light";
  font-size: 16px; }

.home-jumbotron, .fleet-jumbotron {
  border-radius: 0;
  padding: 1rem 2rem; }

.fleet-jumbotron {
  margin-top: 3em; }

.home-jumbotron section {
  margin-bottom: 2em;
  margin-left: -6px; }

.vehicles-cards, .fleet-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.card.card-home {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  width: 32%;
  margin-bottom: 1.5em;
  max-height: 170px; }

.card-home .card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card-block .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card-block p {
  margin: 0; }

.card-vehicle-img {
  width: 100%;
  max-width: 200px;
  margin: auto; }

.card-vehicle-price-header {
  text-transform: uppercase; }

.card-vehicle-price {
  color: #26a822; }

.card-vehicle-price .card-vehicle-text-muted {
  color: #999; }

.home-cta-btn {
  padding: 5px 3em; }

footer ul {
  list-style: none;
  padding: 0; }

footer a {
  color: #ddd; }

footer a:hover {
  text-decoration: none;
  color: #aaa; }

.footer-upper {
  background: #252525;
  color: #ddd;
  padding: 3.5em; }

.footer-bottom {
  background: #0f0f0f;
  color: #919191; }

.footer-bottom p {
  margin: 1em 0; }

.footer-col-header {
  text-transform: uppercase;
  font-weight: 700; }

.footer-navigation {
  font-family: "Roboto Light";
  text-transform: uppercase; }

.footer-contact-info {
  font-family: "Roboto Light"; }

.footer-contact-info .material-icons {
  font-size: 16px; }

.footer-contact-info li {
  margin: 5px 0; }

.footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-facebook {
  font-size: 2em; }

.subpage-header {
  background: #26a822;
  color: #fff;
  text-transform: uppercase; }

.subpage-header h1 {
  padding: 2em 0; }

.fleet-cards .card {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  width: 32%;
  margin-bottom: 1.5em; }

.fleet-car-img {
  overflow: hidden;
  height: 250px; }

.fleet-car-img img {
  max-height: 100%;
  max-width: 100%; }

.fleet-details-list {
  font-family: "Roboto Light";
  padding: 0;
  list-style-type: none; }

.fleet-details-list li {
  line-height: 16px; }

.fleet-header-text-muted {
  color: #e1e1e1;
  text-transform: none;
  font-size: 22px;
  font-weight: 100; }

.order {
  padding-top: 2em; }

@media screen and (max-width: 992px) {
  body {
    padding-top: 55px; }
  .navbar {
    min-height: initial;
    padding: 8px 16px; }
  .nav.navbar-nav {
    margin-top: 2em; }
  .nav-link {
    margin: .7em 0; }
  .nav-item:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
    background: rgba(0, 0, 0, 0.15); }
  .card.card-home, .fleet-cards .card {
    width: 48%; } }

@media screen and (max-width: 768px) {
  .section-c p {
    text-align: justify; }
  .navbar-brand .logo {
    width: 110px; }
  .card.card-home, .fleet-cards .card {
    width: 100%; }
  .footer-upper {
    padding: 0 0 2em 0; }
  .footer-col-header {
    margin-top: 1.5em; }
  .fleet-car-img img {
    max-height: initial;
    -webkit-transform: translate(0%, -10%);
        -ms-transform: translate(0%, -10%);
            transform: translate(0%, -10%); }
  .fleet-car-img {
    height: initial; } }
