<div class="container-fluid">
    <div class="row subpage-header">
        <div class="col-md-12">
            <h1 class="text-center">
                Nasza Flota
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron fleet-jumbotron">
                 <div class="row">
                    <section layout="row" layout-xs="row" layout-align="center center" layout-wrap>
                        <md-button class="md-primary">Wszystkie</md-button>
                        <md-button>Osobowe</md-button>
                        <md-button>Dostawcze</md-button>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fleet-cards"> 
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">Fiat Panda <span class="muted">Klasa A</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Liczba miejsc: 4</li>
                                        <li>Liczba drzwi: 5</li>
                                        <li>Klimatyzacja: Tak</li>
                                        <li>Bagażnik: 1</li>
                                        <li>Skrzynia biegów: Manualna</li>
                                        <li>Silnik: Benzyna</li>
                                        <li>Rok produkcji: 2015</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Cena od:</p>
                                        <p class="card-vehicle-price">75 zł <span class="card-vehicle-text-muted">/ Doba</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Wypożycz</md-button>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>