<footer>
    <div class="container-fluid">
        <div class="row footer-upper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="footer-col-header">O nas</h5>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc tellus, bibendum blandit cursus id, 
                            sagittis id massa. Fusce viverra augue metus, quis elementum dolor imperdiet sed. Quisque dolor enim, 
                            blandit nec elementum id, bibendum non dolor.
                        </p>
                        <div class="footer-links-container">
                            <a href="/"><img src="/img/logo_footer.png" alt="footer logo"></a>
                            <div class="footer-facebook">
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="footer-col-header">Mapa strony</h5>
                        <ul class="footer-navigation">
                            <li><a ui-sref="root.mainPage">Strona główna</a></li>
                            <li><a href="#">Regulamin</a></li>
                            <li><a href="#">Cennik</a></li>
                            <li><a ui-sref="root.fleet">Flota</a></li>
                            <li><a ui-sref="root.rentCar">Wypożyczenie</a></li>
                            <li><a href="#">Kontakt</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="footer-col-header">Kontakt</h5>
                        <ul class="footer-contact-info">
                            <li>Łęczycka 6</li>
                            <li>85-737 Bydgoszcz</li>
                            <li><i class="material-icons">phone</i> Tel.:(52)3601400</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-md-12">
                <p class="text-center">
                    Autex © 2017
                </p>
            </div>
        </div>
    </div>
</footer>