<div class="container-fluid">
    <div class="row subpage-header">
        <div class="col-md-12">
            <h1 class="text-center">
                Nasza Flota
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron fleet-jumbotron">
                 <div class="row">
                    <section layout="row" layout-xs="row" layout-align="center center" layout-wrap>
                        <md-button class="md-primary">All</md-button>
                        <md-button>Passenger cars</md-button>
                        <md-button>Trucks</md-button>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fleet-cards"> 
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">text <span class="muted">text</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Price from:</p>
                                        <p class="card-vehicle-price">$100 <span class="card-vehicle-text-muted">/ day</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Rent</md-button>
                                    </section>
                                </div>
                            </div>
                            <div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">text <span class="muted">text</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Price from:</p>
                                        <p class="card-vehicle-price">$100 <span class="card-vehicle-text-muted">/ day</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Rent</md-button>
                                    </section>
                                </div>
                            </div><div class="card">
                                <div class="fleet-car-img">
                                    <img src="/img/cars/fleet-preview/panda_img.jpg" alt="Card image cap">
                                </div>
                                <div class="card-block">
                                    <h4 class="fleet-card-title">text <span class="muted">text</span></h4>
                                    <hr>
                                    <ul class="fleet-details-list">
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                        <li>Text: 1</li>
                                    </ul>
                                    <div>
                                        <p class="card-vehicle-price-header">Price from:</p>
                                        <p class="card-vehicle-price">$100 <span class="card-vehicle-text-muted">/ day</span></p>
                                    </div>
                                    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised">Info</md-button>
                                        <md-button class="md-raised md-primary">Rent</md-button>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>